*{
    margin: 0;
    padding: 0;
}

#map { 
    height: 100vh; 
}

.data{
   color: red;
}

.counts{
    background-color: black;
    position: sticky;
    top: 0px;
    right: 0px;
    width: 100%;
    height: fit-content;
    z-index: 9;color:
     red;
     text-align: center;
}

#tracker{
   color: red;
   font-size: large;
   font-weight: bold;
}
